@import url('https://fonts.googleapis.com/css?family=Lato');

* {
	margin: 0;
	padding: 0;
}

html {
	background-color: #e6e6e6;
	min-width: 800px;
}

body {
	font-family: 'Lato', sans-serif;
	margin: 0px auto;
}

a {
	text-decoration: none;
	color: inherit;
}

h1 {
	font-size: 30px;
	color: #3b3b3b;
}

h2 {
	font-size: 20px;
	color: #3b3b3b;
}

img {
	margin: 0;
	padding: 0;
	max-width:100%;
	max-height:100%;
}

button {
	-webkit-transition: all .5s ease-out;
	-moz-transition: all .5s ease-out;
	-o-transition: all .5s ease-out;
	transition: all .5s ease-out;
	border: 1px solid #ccc;
	text-transform: uppercase;
	color: #a0a0a0;
	background-color: inherit;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
}

button:hover {
	border: 1px solid #1a1a1a;
	color: #1a1a1a;
	cursor: pointer;
}

button:active {
	outline: none;
}

.navBar {
	display: flex;
	white-space: nowrap;
	flex-flow: nowrap row;
	justify-content: space-between;
	align-items: center;
	margin: auto;
	padding: 20px;
	height: 64px;
}

.navBar-left {
	flex: .5;
	display: flex;
	flex-flow: nowrap row;
}

.navBar-left h1 {
	-webkit-transition: color .5s ease-out;
	-moz-transition: color .5s ease-out;
	-o-transition: color .5s ease-out;
	transition: color .5s ease-out;
}

.navBar-left h1:hover {
	color: #ccc;
}

.navBar-right {
	display: flex;
	flex-flow: nowrap row;
}

.navBar-right a {
	-webkit-transition: color .5s ease-out;
	-moz-transition: color .5s ease-out;
	-o-transition: color .5s ease-out;
	transition: color .5s ease-out;
	color: #181818;
	margin: 10px;
}

.navBar-right a:hover {
	color: #ccc;
}

.headerContainer {
	display: flex;
	align-items: center;
	justify-content: center;
	background: linear-gradient(224deg, #00f2ff, #e700ff, #ffb600);
	background-size: 200% 200%;
	-webkit-animation: GradientAnimation 18s ease infinite;
	-moz-animation: GradientAnimation 18s ease infinite;
	animation: GradientAnimation 18s ease infinite;
	height: 300px;
}

.headerContainer h1 {
	color: #e6e6e6;
}

@-webkit-keyframes GradientAnimation {
	0%{background-position:0% 50%}
	50%{background-position:100% 50%}
	100%{background-position:0% 50%}
}

@-moz-keyframes GradientAnimation {
	0%{background-position:0% 50%}
	50%{background-position:100% 50%}
	100%{background-position:0% 50%}
}

@keyframes GradientAnimation {
	0%{background-position:0% 50%}
	50%{background-position:100% 50%}
	100%{background-position:0% 50%}
}

.contentContainer {
	max-width: 800px;
	margin: auto;
	padding-top: 50px;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 50px;
}

.contentContainer h1 {
	font-size: 40px;
	color: #3d3d3d;
	padding-left: 0px;
	margin-left: 0px;
}

.contentContainer p{
	font-size: 18px;
	color: #646464;
	line-height: 30px;
}

.contentContainer a{
	font-weight: bold;
}

.footer-buttons {
	text-align: center;
	margin-top: 50px;
	margin-bottom: 50px;
}

.footerBar {
	color: #8a8a8a;
	font-size: 12px;
	height: 40px;
	text-align: center;
}

.siteWrapper {
	min-height: calc(100vh - 40px);
}

/* Resume.html specific CSS */

.resumeWrapper {
	-webkit-transition: box-shadow .5s ease-out;
	-moz-transition: box-shadow .5s ease-out;
	-o-transition: box-shadow .5s ease-out;
	transition: box-shadow .5s ease-out;
	display: flex;
	flex-flow: nowrap column;
	margin: 50px auto;
	padding: 3%;
	max-width: 800px;
	background-color: #f1f1f1;
	border-radius: 5px;
	box-shadow: 0px 0px 50px #bdbdbd;
}

.resumeWrapper:hover {
	box-shadow: 0px 0px 50px #7a7a7a;
}

.resumeWrapper h1, .resumeWrapper h3 {
	padding: 0;
	margin: 0;
	color: #181818;
}

.resumeWrapper hr {
	border: 1px solid #ccc;
	margin: 20px 0px;
}

.resumeWrapper h2 {
	font-weight: bold;
	padding: 1% 0;
}
.resumeWrapper p, .resumeWrapper h2 {
	padding: 0;
	color: #3a3a3a;
}

/* Header */

.resumeHeader {
	flex: .25;
	display: flex;
	flex-flow: nowrap row;
	align-items: center;
}

.resumeHeader h1, .resumeHeader h3 {
	font-style: oblique;
}

.resumeHeader h3 {
	font-weight: lighter;
}

.resumeHeaderLeft  {
	flex: .55;
}

.resumeHeaderRight {
	flex: .45;
}

/* Education and Skills */

.resumeMidBlock {
	display: flex;
	flex-flow: nowrap row;
}

.resumeMidBlock p {
	padding: 1% 15% 1% 0;
}

.resumeEducation {
	flex: .55;
}

.resumeEducation h2 {
	padding: 1% 0;
}

.resumeEducation p {
	padding-bottom: 2%;
}

.resumeSkills {
	flex: .45;
}

.resumeSkills h2 {
	padding: 1% 0;
}

.resumeSkills p {
	padding-bottom: 2%;
}

/* Projects */

.resumeProjects h2 {
	padding: 1% 0;
}

.resumeProjects p {
	padding-bottom: 2%;
}