html { 
  background: url(images/monacobayOPTIMIZED.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px auto;
    /* hex code for background bottom extend: #b5c6d5 */
}
h1{
    text-align: center;
    font-size: 50px;
    color: white;
    margin-bottom: -10px;
    font-weight: lighter;
}
h1:hover{
    cursor: default;
}
h2{
    font-family: arial;
    text-align: center;
    font-size: 15px;
    font-weight: lighter;
    color: slategray;
}
h2:hover{
    cursor: default;
}
h3{
    font-family: sans-serif;
    font-size: 20px;
    color: white;
}
.navContainer{
    background-color: black;
    opacity: .5;
    width: 50%;
    padding: inherit;
    margin: 5% auto;
    text-align: center;
}
.navContainer li{
    display: inline-block;
    padding: 10px;
    opacity: .7;
}
.navContainer li:hover{
    opacity: 1;
}
    


    