@charset 'UTF-8';

@import url(https://fonts.googleapis.com/css?family=Lato);
@import url(https://fonts.googleapis.com/css?family=Oswald);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css);

* {
	margin: 0;
	padding: 0;
}

html {
	background-color: #181818;
	min-width: 800px;
}

body {
	font-family: "Lato", Helvetica, sans-serif;
	margin: 0px auto;
}

a {
	text-decoration: none;
	color: inherit;
}

h1 {
	font-size: 50px;
	font-family: "Oswald", Helvetica, sans-serif;
	color: #dbdbdb;
	margin-bottom: -10px;
	padding: 1% 2% 1% 2%;
}

h2 {
	font-size: 15px;
	font-weight: lighter;
	color: #a8b5c2;
}

h3 {
	color: #5ACA9F;
}

button {
	border: 1px solid #CECECE;
	font-family: "Oswald", Helvetica, sans-serif;
	text-transform: uppercase;
	color: #CECECE;
	background-color: inherit;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
}

button:hover {
	background-color: #2F9E6E;
}

.navContainer {
	background-color: rgba(0, 0, 0, 0.5);
	width: 100%;
	padding-top: 1px;
	padding-bottom: 20px;
	padding-left: 0px;
	margin: 0;
	border-bottom: 2px solid #5ACA9F;
	text-align: center;
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	-ms-transition: all .5s;
	-o-transition: all .5s;
	transition: all .5s;
}

.navContainer:hover {
	background-color: rgba(0, 0, 0, .2);
	border-bottom: 2px solid #00FF91;
}

.navContainer ul {
	padding-top: 1%;
}

.navContainer ul li {
	display: inline-block;
	padding: 20px;
	opacity: .5;
	-webkit-transition: opacity .5s;
	-moz-transition: opacity .5s;
	-ms-transition: opacity .5s;
	-o-transition: opacity .5s;
	transition: opacity .5s;
}

.navContainer ul li:hover {
	opacity: .7;
}

.contentContainer {
	padding-top: 30px;
}

.contentContainer p {
	color: #CECECE;
}

.contentContainer p {
	padding-top: 2%;
	padding-bottom: 2%;
}

.projectContainer {
	margin: 0 auto;
	max-width: 1200px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;
	flex-wrap: wrap;
}

.footer-buttons {
	text-align: center;
	padding-top: 10px;
}
/* css cards */
.project-card {
  font-family: 'Lato', Arial, sans-serif;
  position: relative;
  display: inline-block;
  overflow: hidden;
  margin: 8px;
	width: 350px;
	height: 350px;
  background-color: #000000;
  color: #ffffff;
  text-align: left;
  font-size: 16px;
	box-shadow: 0 0 5px rgba(0, 0, 0, .75);
}

.project-card * {
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.project-card:hover img {
	transform: scale(1.1);
	opacity: .5;
}

.project-card img {
	max-width: 100%;
  vertical-align: top;
}

.project-card figcaption {
  position: absolute;
  height: 75px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  overflow: hidden;
  padding: 15px;
  background-color: rgba(0, 0, 0, 0.6);
}
.project-card h3 {
  font-family: 'Oswald';
	text-transform: uppercase;
	text-shadow: 2px 2px 5px black;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
	margin: 3px 0;
}
.project-card h5 {
  font-weight: 400;
	margin: 0;
	text-shadow: 2px 2px 5px black;
  text-transform: uppercase;
  color: #bbb;
	letter-spacing: 1px;
}
.project-card blockquote {
  padding-top: 5px;
  margin: 0;
  font-style: italic;
  font-size: 1em;
}

.project-card:hover figcaption,
.project-card.hover figcaption {
	height: calc(85%);
	background-color: rgba(0, 0, 0, 0.9);
}