body{
    background-image: url(images/mountainbg.jpg);
    font-family: Arial, Helvetica, sans-serif;
    /* hex code for background bottom extend: #b5c6d5 */
}
#header-box{
    background: rgba(0,0,0,0.7);
    width: 100%;
    height: 10%;
    padding: 0px;
    margin: 0 auto;
    position: relative;
}
.navContainer{
    margin: 0px auto;
    text-align: center;
    display: inline;
}
.navContainer li{
    color: slategrey;
    font-size: 25px;
}
.navContainer li a{
    text-decoration: none;
    color: inherit;
}
.navContainer li:hover{
    color: deepskyblue;
}


    